@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@300&display=swap');
 *{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

body{
    font-family: 'Smooch Sans', sans-serif;
    text-align: center;
}

.intro-image{
    background-attachment: fixed;
    background-image: url("../img/kohvipilt1.jpg");
    background-size: cover;
    background-position: center;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro-image_link a{
    background-color: #2e1503dc;
    border: 2px solid #630d09;
    color: #e7a572;
    display: inline-block;
    font-size: 3rem;
    padding: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 1s ease-in-out;
}

.intro-image_link a:hover{
    transform: scale(1.2);
}
.intro-text{
    background-color: #e6c351da;
    color: #3f0909;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    padding: 0 15rem;
}
.intro-text_textbox h3{
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}
.quality-image{
    background-attachment: fixed;
    background-image: url("../img/friends-cafe-coffee.jpg");
    background-size: cover;
    background-position: bottom;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quality-image_link a{
    background-color: #4d4e50c7;
    border: 2px solid #0f0f0fcc;
    color: #d8a36a;
    display: inline-block;
    font-size: 3rem;
    padding: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 1s ease-in-out;
}
.quality-image_link a:hover{
    transform: scale(1.2);
}
.quality-text{
    background-color: #57403b;
    color: #f8d2a9;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    padding: 0 15rem;
}
.quality-text_textbox h3{
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}
.origin-image{
    background-attachment: fixed;
    background-image: url("../img/coffeensunset.jpg");
    background-size: cover;
    background-position: center;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.origin-image_link a{
    background-color:#916e57c0;
    border: 2px solid #e2836b;
    color: #30383f;
    display: inline-block;
    font-size: 3rem;
    padding: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 1s ease-in-out

}
.origin-image_link a:hover{
    transform: scale(1.2);
}
.origin-text{
    background-color: #5c4631;
    color: #e7d8c9;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    padding: 0 15rem;
}
.origin-text_textbox h3{
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}
.footer{
    height: 250px;
    background-color:#e7d8c9 ;
    color: #5c4631;
    font-size: 2rem;
    padding-top: 2rem;
}
.footer ul li{
    display: inline-block;
    margin: 1rem;
}

.footer ul li a{
    color:#5c4631 ;
    text-decoration: none;
}
.footer ul li a:hover {
    color: white
    
   
}